* {
  margin: 0;
  padding: 0;
}

/* Navigation Styling */

#listItem-Container {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  list-style-type: none;

  background-color: #fff6d8;
}

.list-Item a {
  display: inline-block;
  color: #003049;
  opacity: 80%;
  font-family: "Anton", sans-serif;
  text-decoration: none;
  line-height: 70px;

  padding: 45px;
}

/* Hamburger Menu */

label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 35px;
  display: none;
  width: 25px;
}
#toggle {
  display: none;
}

/* Main Home Content */

article {
  height: 100%;
  background-color: #fff6d8;
}

.sectionOne-Container {
  max-width: 920px;
  height: 524px;
  text-align: center;
  margin: 0 auto;
  font-family: "Anton", sans-serif;
}
.sectionOne-Container h1 {
  font-size: 55px;
  color: #dea53c;
}
.sectionOne-Container p {
  color: #003049;
  opacity: 80%;
  margin: 15px;
}
.sectionOne-Container a {
  text-decoration: none;
  font-weight: 500;
  background-color: #f77f00;
  color: white;

  opacity: 80%;
  border-radius: 5px;
  padding: 8px;
}
img {
  width: 90%;
}

/* Responsiveness */

@media screen and (max-width: 767px) {
  #listItem-Container {
    display: none; /* Render Desktop View of Navigation Invisible */
  }
  label {
    display: block;
    cursor: pointer;
    margin: 5px;
  }
  #toggle:checked + #listItem-Container {
    display: block; /* Render Responsive View of Navigation Visible */
  }
  #listItem-Container {
    text-align: center;
    width: 100%;
    display: none;
  }
}
